* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body {
  overflow-x: hidden;
}
header {
  background-image: linear-gradient(to right, #4a1e1b, #4a1e1be6);
  color: white;
  padding: 0 2rem;
  height: 4.8rem;
  display: grid;
  align-items: center;
}
.container-header {
  padding: 0.5rem 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.div-logo {
  display: flex;
  margin: 0 10px;
}
.div-logo a {
  color: white;
  text-decoration: none;
  font-weight: bold;
  font-size: 2rem;
  line-height: 2rem;
  display: flex;
  justify-content: center;
  gap: 0.5rem;
  letter-spacing: 0.05em;
  padding: 0 20px 5px 0;
  font-family: "Pacifico", cursive;
  align-items: center;
}
.div-logo-img {
  width: 3.5rem;
  border-radius: 50%;
}
.div-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
  padding: 5px;
}
.button-list {
  background-color: #784538;
  border: none;
  border-radius: 20px;
  padding: 5px 1em;
  color: white;
  font-size: 1rem;
}
.button-list:hover {
  transform: scale(1.05);
  transition-duration: 200ms;
  cursor: pointer;
  color: aquamarine;
}

.menu-list {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  gap: 2rem;
}
.menu-link {
  text-decoration: none;
  color: #ffffffb3;
  display: inline-block;
  font-size: 1.25rem;
  line-height: 1.75rem;
}
.menu-link:hover {
  color: aquamarine;
  transition-duration: 500ms;
}
.img-button-links {
  margin-left: 5px;
}

@media screen and (max-width: 871px) {
  .div-logo a {
    font-size: 1.4rem;
  }
  .menu-list {
    display: none;
  }
}
@media screen and (max-width: 575px) {
  header {
    padding: 0;
  }
  .div-logo a {
    font-size: 1.5rem;
  }
}
